*{
  margin: 0;
  padding: 0;
}
body{
  padding: 0;
}
.head{
  background: lightblue;
}

.logo {
  background: #424242;
  height:80px;
  display:flex;
  justify-content: center;
}

.logo img {
  width: 150px;
  height:70px;
  margin-top:5px;
}

.nav{
  background: #424242;
  color: lightGrey;
  text-decoration-color: lightGrey;
  height:40px;
  text-align: center;
  display:flex;
  justify-content: center;
}

.nav a,p {
  color: #ddd;
  margin-top: 40px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 10px;
  font-size:12px;
  font-family: sans-serif;
  align-self: flex-end;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.main {
  max-width: 750px;
  width: 70%;
  background: white;
  font-size: 16px;
  text-align: center;
  margin:auto;
}

.main p {
  font-size: 18px;
  color: black;
  text-align: center;
  line-height: 2;
  margin-top: 10px;
}

.main a {
  color: forestGreen;
  text-decoration: none;
}

.main a:hover {
  color: white;
  background-color: forestGreen;
}

.main .bigger {
  padding:0;
  margin-top:10px;
  font-size: 24px;
  background-color: aquamarine;
}

.main .even-bigger {
  font-size: 24px;
  padding:10px;
}

.button-block {
  display:inline-block;
  margin:auto;
  margin-left:20px;
  width:250px;
  height:40px;
  background-color: darkgreen;
  padding:20px;
}

.button-block a {
  color:white;
  font-size:20px;
}

.button-menu {
  display:flex;
}

.button-menu a,p {
  color: #ddd;
  margin-top: 5px;
  padding:0;
  font-size:14px;
  font-family: sans-serif;
  align-self: flex-end;
  text-decoration: none;
}


.foot{
  background: #424242;
}


.footerDiv {
  width: 80%;
  margin:auto;
  line-height: 1.5;
}

.footerDiv h2 {
  font-family: sans-serif;
  display:inline;
  color:white;
  font-size: 14px;
  padding-top:10px;
}

.footerDiv h3 {
  margin-top:10px;
  font-family: sans-serif;
  display:inline;
  color:green;
  font-size: 14px;
  margin-left: 5px;
}

.footerDiv p {
  color:#ddd;
  font-size: 12px;
}

/*//^^^^simple style^^^^^//*/
/*//vvvvv Grid Style vvvvv//*/

.logo {
  grid-area: logo;
}

.nav{
  grid-area: nav;
}

.head{
  grid-area: hd;

}

.main{
  grid-area: main;

}

.side{
  grid-area: side;

}

.foot{
  grid-area: foot;

}

.grid {
  /*height: 100vh;*/
  width: 100vw;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 100%;
  grid-template-areas:
    "logo"
    "nav"
    "main"
    "main"
    "main"
    "main"
    "foot"
    "foot"
  ;
}


@media screen and (max-width: 600px) {
  .grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "logo"
    "main"
    "main"
    "main"
    "main"
    "foot"
    "foot"
  }
  .nav {
    display:none;
  }
}
