*{
  margin: 0;
  padding: 0;
}
body{
  padding: 0 5px;
}
.head{
  background: lightblue;
}

.logo {
  background: #424242;
  height:70px;
  display:flex;
  justify-content: center;
}

.logo img {
  width: 120px;
  height:60px;
  margin-top:5px;
}

.nav{
  background: #424242;
  color: lightGrey;
  text-decoration-color: lightGrey;
  height:40px;
  text-align: center;
  display:flex;
  justify-content: center;
}

.nav a,p {
  color: #ddd;
  margin-top: 40px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 10px;
  font-size:12px;
  font-family: sans-serif;
  align-self: flex-end;
  text-decoration: none;
}

.main{
  background: white;
}
.main article{
  text-align: center;
  border: 1px solid red;
}
.side{
  background: #eee;
}
.side article{
  border-bottom: 1px solid grey;
}

.foot{
  background: #424242;
}
/*//^^^^simple style^^^^^//*/
/*//vvvvv Grid Style vvvvv//*/

.logo {
  grid-area: logo;
}

.nav{
  grid-area: nav;
}

.head{
  grid-area: hd;

}

.main{
  grid-area: main;

}

.side{
  grid-area: side;

}

.foot{
  grid-area: foot;

}

.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  /*grid-gap: 5px;*/
  grid-template-columns: 100%;
  grid-template-areas:
    "logo"
    "nav"
    "main"
    "main"
    "main"
    "main"
    "foot"
    "foot"
  ;
}

@media  screen and (max-width: 800px) {
  .grid {
    grid-template-columns: auto 20%;
    grid-template-areas:
      "hd hd"
      "main nav"
      "main side"
      "main side"
      "foot foot"
      ;
  }
}

@media screen and (max-width: 600px) {
  .grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "hd"
      "nav"
      "main"
      "side"
      "foot"
  }
}
